@import 'nib';
@import './lib/normalize';
*
	box-sizing: border-box;
body
	font-size:16px;
	
a
	text-decoration: none;
	color:inherit;

body.Principal
	background: linear-gradient(
      rgba(black, 0.60), 
      rgba(black, 0.60)),
    url('../img/fondo.jpg');
	background-size: cover;
	background-position:top center;
	
@import './fonts/fonts'
@import '../admin/admin'
@import '../usuario/usuario'
@import '../login/login'