div.ContPerfil
	figure(style="background-image: url('{{c.imgCliente}}')").ContPerfil-imgPerfil
	div.ContPerfil-datos
		h2 {{c.nombre}} {{c.apellido}}
		p Edad {{c.edad}}
		p Celular: {{c.celular}}
		p Correo: {{c.correo}}
		p Domicilio: {{c.domicilio}}
		p estatura: {{c.estatura}}
		p peso {{c.peso}}
		button(popup-add="<perfil-modificar usuario='c'><perfil-modificar/>") Modificar
