div.ContPerfil
	figure(style="background-image: url('./img/perfil.jpg')").ContPerfil-imgPerfil
	div.ContPerfil-datos
		h2 Alejandra Garcia
		p Edad 25 años
		p Celular: 82349058
		p Correo: ale_89@hotmail.com
		p Domicilio: calle j
		p estatura: 1.60m
		p peso 55kg
		button(popup-add="<perfil-modificar><perfil-modificar/>") Modificar
