@import './popupModificar/popupModificar.styl'
.ContPerfil
	width:45em;
	background:white;
	border-radius:15px;
	margin:8em 0em 0em 13em;
	padding:2.5em 3em 3em 3em;
	&-imgPerfil
		width:10em;
		height:16em;
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center top;
		display:inline-block;
	&-datos
		width:26em;
		margin-left:3em;
		display:inline-block;
		padding:0;
		h2 
			border-bottom:3px solid rgb(232,167,47);
			text-align:center;
			margin-top:0;
		button
			color:white;
			font-size:15px;
			padding:.3em 1em;
			margin-left:18em;
			border: 0;
			border-radius:7px;
			background: rgb(53,131,44);