div(popup-close).PopupPagosEliminar
	div.PopupPagosEliminar-contenidoPagosEliminar
		p ¿Estas seguro de eliminar el pago?<br>
		button.BtnCancelar.popup-close Cancelar
		button(ng-click="deletePago()").BtnEliminar Eliminar