body.Principal
	div.Contenedor
		header.Header
			figure.Header-logo
			nav.Header-nav
				ul 
					a(ui-sref="inicioAdmin")
						li 
							span Inicio
					a(ui-sref="clasesAdmin")
						li
							span Clases
					a(ui-sref="retosAdmin")
						li
							span Retos
					a(ui-sref="pagosAdmin")
						li
							span Pagos
					a(ui-sref="instructoresAdmin")
						li 
							span Instructores
					a(ui-sref="perfilAdmin")
						li 
							span Perfiles
					a(href="#")
						li 
							span Salir
		button.AgregarInstructor Agregar instructor
		div.ContenedorInstructorAdmin
			div.InstructorAdmin
				figure(style="background-image: url('./img/instructor.jpg')").InstructorAdmin-imagenInstructor
				figcaption.Instructor-nombre Andrea Delgado
				button.InstructorAdmin-ver ver
				button.InstructorAdmin-modificar Modificar
				button.InstructorAdmin-eliminar Eliminar
			div.InstructorAdmin
				figure(style="background-image: url('./img/instructor.jpg')").InstructorAdmin-imagenInstructor
				figcaption.Instructor-nombre Andrea Delgado
				button.InstructorAdmin-ver ver
				button.InstructorAdmin-modificar Modificar
				button.InstructorAdmin-eliminar Eliminar
			div.InstructorAdmin
				figure(style="background-image: url('./img/instructor.jpg')").InstructorAdmin-imagenInstructor
				figcaption.Instructor-nombre Andrea Delgado
				button.InstructorAdmin-ver ver
				button.InstructorAdmin-modificar Modificar
				button.InstructorAdmin-eliminar Eliminar
			div.InstructorAdmin
				figure(style="background-image: url('./img/instructor.jpg')").InstructorAdmin-imagenInstructor
				figcaption.Instructor-nombre Andrea Delgado
				button.InstructorAdmin-ver ver
				button.InstructorAdmin-modificar Modificar
				button.InstructorAdmin-eliminar Eliminar
			div.InstructorAdmin
				figure(style="background-image: url('./img/instructor.jpg')").InstructorAdmin-imagenInstructor
				figcaption.Instructor-nombre Andrea Delgado
				button.InstructorAdmin-ver ver
				button.InstructorAdmin-modificar Modificar
				button.InstructorAdmin-eliminar Eliminar
			div.InstructorAdmin
				figure(style="background-image: url('./img/instructor.jpg')").InstructorAdmin-imagenInstructor
				figcaption.Instructor-nombre Andrea Delgado
				button.InstructorAdmin-ver ver
				button.InstructorAdmin-modificar Modificar
				button.InstructorAdmin-eliminar Eliminar
			