button(class="AgregarInstructor  PopupAdd" popup-add="<instructores-agregar><instructores-agregar/>") Agregar instructor
div.ContenedorInstructorAdmin
	div(ng-repeat="instructor in instructores").InstructorAdmin
		figure(style="background-image: url('{{instructor.imgInstructor}}')").InstructorAdmin-imagenInstructor
		figcaption.Instructor-nombre {{instructor.nombre}} {{instructor.apellido}}
		button(class="InstructorAdmin-ver  PopupAdd" popup-add="<instructores-ver><instructores-ver/>") ver
		button(class="InstructorAdmin-modificar  PopupAdd" popup-add="<instructores-modificar edit-instructor='instructor'/>") Modificar
		button(class="InstructorAdmin-eliminar  PopupAdd" popup-add="<instructores-eliminar del-instructor='instructor' instructores='instructores' />") Eliminar