.PopupClasesModificar
	background: rgba(black, 0.60);
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	display:flex;
	justify-content:center;
	align-items:center;
	&-contenidoClasesModificar
		width:22em;
		border-radius:17px;
		background:white;
		padding:2em 2em 3em;
		.ImgModificar
			width:18em;
			height:8em;
			border: 1px solid rgb(51,51,51);
			background-size:100% 100%;
			background-position:center top;
			background-repeat:no-repeat;
			&-cambiarImg
				width:100%;
				cursor:pointer;
				background: rgba(black, 0.60);
				margin:5.1em 0em 0em 0em;
				padding:.6em 0em;
				.labelModificar
					cursor:pointer;
					color: white;
					.SubirImgModificar
						position: absolute;
						opacity: 0;
						cursor:pointer;
					p
						color white;
						margin:0em 0em 0em 2em;
						display:inline-block;
					i
						font-size:20px;
						color:white;
						display:inline-block;
						margin-left:.5em;
		p 
			color:black;
			display: inline-block;
		.CajaClase
			width:15em;
		.CajaInstructor
			width:13em;
		.CajaPrecio
			width:3.5em;
			margin-right:1em;
		.CajaDuracion
			width:3em;
			margin:0em .3em 0em .5em;
		.CajaHoras
			margin-right:1.8em;
		.Dias
			margin:0em .1em 0em .5em;
		.BtnCancelar
			background:rgb(170,170,160);
			display:inline-block;
			margin:2em 2em 0em 2em;
			padding:.4em 1em;
		.BtnGuardar
			background: rgb(231,150,28);
			display:inline-block;
			padding:.4em 1em;
		button
			color:black;
			font-size:15px;
			border-radius:7px;
			border: 1px solid rgb(110,110,100);
			padding:.4em 1em;