div.ContenedorAreaInstructor
	div(ng-repeat="instructor in instructores").Instructor
		figure(style="background-image: url('{{instructor.imgInstructor}}')").Instructor-imagenInstructor
		figcaption.Instructor-nombre {{instructor.nombre}} {{instructor.apellido}}
		button(class="Instructor-informacion PopupAdd" popup-add="<instructor-info><instructor-info/>") Información