body.Principal
	div.Contenedor
		header.Header
			figure.Header-logo
			nav.Header-nav
				ul 
					a(ui-sref="inicio")
						li 
							span Inicio
					a(ui-sref="clases")
						li
							span Clases
					a(ui-sref="retos")
						li
							span Retos
					a(ui-sref="pagos")
						li
							span Pagos
					a(ui-sref="instructores")
						li 
							span Instructores
					a(ui-sref="perfil")
						li 
							span Perfil
					a(href="#")
						li 
							span Salir
		div.ContenedorAreaInstructor
			div.Instructor
				figure(style="background-image: url('./img/instructor.jpg')").Instructor-imagenInstructor
				figcaption.Instructor-nombre Andrea Delgado
				button.Instructor-informacion Información
			div.Instructor
				figure(style="background-image: url('./img/instructor.jpg')").Instructor-imagenInstructor
				figcaption.Instructor-nombre Andrea Delgado
				button.Instructor-informacion Información
			div.Instructor
				figure(style="background-image: url('./img/instructor.jpg')").Instructor-imagenInstructor
				figcaption.Instructor-nombre Andrea Delgado
				button.Instructor-informacion Información
			div.Instructor
				figure(style="background-image: url('./img/instructor.jpg')").Instructor-imagenInstructor
				figcaption.Instructor-nombre Andrea Delgado
				button.Instructor-informacion Información
			div.Instructor
				figure(style="background-image: url('./img/instructor.jpg')").Instructor-imagenInstructor
				figcaption.Instructor-nombre Andrea Delgado
				button.Instructor-informacion Información
			div.Instructor
				figure(style="background-image: url('./img/instructor.jpg')").Instructor-imagenInstructor
				figcaption.Instructor-nombre Andrea Delgado
				button.Instructor-informacion Información
			