div(popup-close).PopupVer
	div.PopupVer-contenidoVer
		h2 Reto1<br>
		div: i.icomoon.cancel-circle.popup-close
		p <br>Fecha de inicio: 30/Octubre/2015<br>
		p Reto: bajar de peso en un periodo de 30 dias<br>