div(popup-close).PopupVer
	div.PopupVer-contenidoVer
		h2 {{retos.reto}}<br>
		div: i.icomoon.cancel-circle.popup-close
		p <br>Fecha de inicio: {{retos.fechaInicio | date:'fullDate'}}<br>
		p Reto: {{retos.descripcion}}<br>