div(popup-close).Popup
	div.Popup-contenido
		h2 {{clases.clase}}<br>
		div: i.icomoon.cancel-circle.popup-close
		p <br>Horario: {{clases.dia}}<br>
		p Hora: {{clases.hora}}<br>
		p duracion : {{clases.horaDuracion}} {{clases.minDuracion}}<br>