div(popup-close).Popup
	div.Popup-contenido
		h2 {{c.clase}}<br>
		div: i.icomoon.cancel-circle.popup-close
		p <br>Horario: {{c.dia}}<br>
		p Hora: {{c.hora}}<br>
		p duracion : {{c.horaDuracion}} hora/s {{c.minDuracion}} min<br>