body.Principal
	div.Contenedor
		header.Header
			figure.Header-logo
			nav.Header-nav
				ul 
					a(ui-sref="inicioAdmin")
						li 
							span Inicio
					a(ui-sref="clasesAdmin")
						li
							span Clases
					a(ui-sref="retosAdmin")
						li
							span Retos
					a(ui-sref="pagosAdmin")
						li
							span Pagos
					a(ui-sref="instructoresAdmin")
						li 
							span Instructores
					a(ui-sref="perfilAdmin")
						li 
							span Perfiles
					a(href="#")
						li 
							span Salir
		button.AgregarClase Agregar clase
		div.ContenedorClaseAdmin
			div.Clase
				figure(style="background-image: url('./img/zumba.jpg')").Clase-imagenClase
				figcaption.Clase-reto Zumba
				button.Clase-ver Ver
				button.Clase-modificar Modificar
				button.Clase-eliminar Eliminar
			div.Clase
				figure(style="background-image: url('./img/zumba.jpg')").Clase-imagenClase
				figcaption.Clase-reto Zumba
				button.Clase-ver Ver
				button.Clase-modificar Modificar
				button.Clase-eliminar Eliminar
			div.Clase
				figure(style="background-image: url('./img/zumba.jpg')").Clase-imagenClase
				figcaption.Clase-reto Zumba
				button.Clase-ver Ver
				button.Clase-modificar Modificar
				button.Clase-eliminar Eliminar
			div.Clase
				figure(style="background-image: url('./img/zumba.jpg')").Clase-imagenClase
				figcaption.Clase-reto Zumba
				button.Clase-ver Ver
				button.Clase-modificar Modificar
				button.Clase-eliminar Eliminar
			div.Clase
				figure(style="background-image: url('./img/zumba.jpg')").Clase-imagenClase
				figcaption.Clase-reto Zumba
				button.Clase-ver Ver
				button.Clase-modificar Modificar
				button.Clase-eliminar Eliminar
			div.Clase
				figure(style="background-image: url('./img/zumba.jpg')").Clase-imagenClase
				figcaption.Clase-reto Zumba
				button.Clase-ver Ver
				button.Clase-modificar Modificar
				button.Clase-eliminar Eliminar
