@import './popupAgregar/popupAgregar.styl'
@import './popupModificar/popupModificar.styl'
@import './popupEliminar/popupEliminar.styl'
@import './popupVer/popupVer.styl'
//--------------------globales-------------------------	
.ContenedorClaseAdmin
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 2em 3em 0em 3em;
.AgregarClase
	color:white;
	font-size:15px;
	padding:.3em 1em;
	margin:2em 0em 0em 58em;
	border: 0;
	border-radius:7px;
	background: rgb(53,131,44);	
.Clases
	width:17em;
	background:white;
	border-radius:15px;
	margin: 0em 2em 3em 0em;
	padding:.7em .7em .7em .7em;
	&-imagenClase
		width:15.5em;
		height:7.5em;
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center center;
	figcaption
		font-size:1.3em;
		text-align:center;
		margin-top:.5em;
	&-ver
		background: rgb(127,129,112);
		float:left;
		margin-right:.7em;
	&-modific
		background: rgb(53,131,44);
	&-delete
		background: rgb(229,52,13);
		float:right;
	button
		color:white;
		font-size:15px;
		padding:.2em .7em;
		margin-top:.5em;
		border: 0;
		border-radius:7px;