div(popup-close).PopupClasesEliminar
	div.PopupClasesEliminar-contenidoClasesEliminar
		p ¿Estas seguro de eliminar la clase?<br>
		button.BtnClasesCancelar.popup-close Cancelar
		button(ng-click="deleteClase()").BtnClasesEliminar Eliminar