div(popup-close).PopupInstructor
	div.PopupInstructor-contenidoInstructor
		h2 Alondra Morales<br>
		div: i.icomoon.cancel-circle.popup-close
		p <br>Edad: 26años<br>
		p Clase: zumba<br>
		p Correo electronico: alon_10@hotmail.com<br>
		p Celular 8442394342<br>
		p Peso: 50kg.<br>
		p Estatura: 1.80m <br>