div(popup-close).PopupInstructoresModificar
	div.PopupInstructoresModificar-contenidoInstructoresModificar
		figure(style="background-image: url(./img/instructor.jpg)").ImgModificar
			div.ImgModificar-cambiarImg
				p cambiar imagen
				div: i.icomoon.images
		p Nombre:
		input(type="text" name="nombre" required)
		p Apellido:
		input(type="text" name="apellido" required)
		p.class Clase:
		input(type="text" name="clase" required)
		p Correo:
		input(type="text" name="correo" required)
		p Celular:
		input(type="text" name="celular" required)
		p.peso Peso:
		input.InputPeso(type="text" name="peso" required)
		p Estatura:
		input.InputPeso(type="text" name="estatura" required)
		div
			p Edad:
			input.InputEdad(type="text" name="edad" required)
		button.BtnCancelar.popup-close Cancelar
		button.BtnGuardar Guardar