.PopupInicioEliminar
	background: rgba(black, 0.60);
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	display:flex;
	justify-content:center;
	align-items:center;
	&-contenidoInicioEliminar
		border-radius:17px;
		background:white;
		padding:2em 2em 3em;
		p
			font-size:15px;
			color:black;
		.BtnCancelar
			background:rgb(170,170,160);
			display:inline-block;
			margin:2em 2em 0em 1.2em;
		.BtnEliminar
			background: rgb(231,150,28);
			display:inline-block;
		button
			color:black;
			font-size:15px;
			border-radius:7px;
			border: 1px solid rgb(110,110,100);
			padding:.4em 1em;