label.Nombre ¡Bienvenido {{c.nombre}}!
article.Articule
	ul(rn-carousel class="image" rn-carousel-auto-slide).Ul
		li(ng-repeat="banner in banners track by $index")
			//div(rn-carousel-indicators ng-if="banners.length > 1" slides="slides" rn-carousel-index="carouselIndex")
			div(class="layer").Div
				figure(style="background-image: url({{banner.imgBanner}});").Figure
					p.P {{banner.anuncio}} 