
//--------------------globales-------------------------	
.Nombre
	color:white;
	font-size:23px;
	margin:1.4em 0em 0em 4em;
	display:inline-block;
/*.AreaSlider
	width:56em;
	height:25em;
	margin:2em 6em 0em;
	position:relative;
	.Banner
		width:100%; cover 
		height:100%;
		background-size:100% 100%;//cover
		//background-position:center;
		background-repeat:no-repeat;
		display:inline-block;
		&-texto
			width:40em;
			max-width:45em;
			height:8em;
			margin:12em 0em 0em;
			display:inline-block;
			background-color:rgba(black, 0.60);
			color:white;
			padding:1em 1em 1em .9em;*/
.Articule
	width:56em;
	height:25em;
	margin:2em 6em 0em;
	position:relative;
	.Ul
		width:100%
		height:40em;
		.Div
			width:100%
			height:40em;
			.Figure	
				width:100%
				height:100%;
				position relative
				background-size cover 
				.P
					width:40em;
					max-width:45em;
					height:8em;
					margin:12em 0em 0em;
					display:inline-block;
					background-color:rgba(black, 0.60);
					color:white;
					padding:1em 1em 1em .9em;