.PopupPagosModificar
	background: rgba(black, 0.60);
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	display:flex;
	justify-content:center;
	align-items:center;
	&-contenidoPagosModificar
		width:23em;
		border-radius:17px;
		background:white;
		padding:2em 3em 3em;
		background:white;
		.PFecha
			margin-left:.7em;
		.CajaAncho
			width:12em;
		.PEstado
			margin-left:.5em;
		.Pago
			margin-left:1.2em;
		.CajaPago
			width:5em;
		input 
			display:inline-block;
			color:gray;
		.InputRegistro
			width:8em;
		p
			display:inline-block;
		.BtnCancelar
			background:rgb(170,170,160);
			display:inline-block;
			margin:2em 2em 0em 2em;
			padding:.4em 1em;
		.BtnGuardar
			background: rgb(231,150,28);
			display:inline-block;
			padding:.4em 1em;
		button
			color:black;
			font-size:15px;
			border-radius:7px;
			border: 1px solid rgb(110,110,100);