div(popup-close).PopupPagosModificar
	div.PopupPagosModificar-contenidoPagosModificar
		p No.Registro:
		input.InputRegistro(type="text" name="noRegistro" ng-model="pagoDuplicado.ClientesRegistro" disabled)
		p Nombre:
		input(type="text" name="nombre" ng-model="pagoDuplicado.ClientesNombre" disabled)
		p Apellido:
		input(type="text" name="apellido" ng-model="pagoDuplicado.ClientesApellido" disabled)
		p.PFecha Fecha:
		input(type="date" name="fecha" ng-model="pagoDuplicado.PagosFechaPagado").CajaAncho
		p.PEstado Estado:
		select(name="estado" ng-model="pagoDuplicado.PagosEstado").CajaAncho
			option Pagado
			option No Pagado
		p.Pago Pago:
		input(type="text" name="pago" ng-model="pagoDuplicado.PagosMonto").CajaPago
		button.BtnCancelar.popup-close Cancelar
		button(ng-click="EditarPago()").BtnGuardar Guardar