body.Principal
	div.Contenedor
		header.Header
			figure.Header-logo
			nav.Header-nav
				ul 
					a(ui-sref="inicioAdmin")
						li 
							span Inicio
					a(ui-sref="clasesAdmin")
						li
							span Clases
					a(ui-sref="retosAdmin")
						li
							span Retos
					a(ui-sref="pagos")
						li
							span Pagos
					a(ui-sref="instructoresAdmin")
						li 
							span Instructores
					a(ui-sref="perfilAdmin")
						li 
							span Perfiles
					a(href="#")
						li 
							span Salir
		div.Costos 
			span Inscripcion....................................................................$100<br>
			span Por mes........................................................................$300
		button.AgregarPago Agregar pago
		div.AreaTablaAdmin
			div.AreaTablaAdmin-encabezadoAdmin
				span.Pagos Pagos mensuales
				span.Vencidos Mensualidad vencida
			div.AreaTablaAdmin-scrollAdmin
				table.AreaTablaAdmin-scrollAdmin-tablaAdmin
					tr
						td No.registro
						td Nombre
						td Apellido
						td Fecha de pago
						td Fecha pagado
						td Costo
						td Estado de pago
					tr 
						td 1
						td Cesar
						td Valdez
						td $300
						td 4/Agosto/2015
						td 10/Agosto/2015
						td Pagado
							div: i.icomoon.pencil
							div: i.icomoon.bin
					tr 
						td 1
						td Cesar
						td Valdez
						td $300
						td 4/Agosto/2015
						td 10/Agosto/2015
						td Pagado
							div: i.icomoon.pencil
							div: i.icomoon.bin
					tr 
						td 1
						td Cesar
						td Valdez
						td $300
						td 4/Agosto/2015
						td 10/Agosto/2015
						td Pagado
							div: i.icomoon.pencil
							div: i.icomoon.bin
					tr 
						td 1
						td Cesar
						td Valdez
						td $300
						td 4/Agosto/2015
						td 10/Agosto/2015
						td Pagado
							div: i.icomoon.pencil
							div: i.icomoon.bin
					tr 
						td 1
						td Cesar
						td Valdez
						td $300
						td 4/Agosto/2015
						td 10/Agosto/2015
						td Pagado
							div: i.icomoon.pencil
							div: i.icomoon.bin
					tr 
						td 1
						td Cesar
						td Valdez
						td $300
						td 4/Agosto/2015
						td 10/Agosto/2015
						td Pagado
							div: i.icomoon.pencil
							div: i.icomoon.bin
					tr 
						td 1
						td Cesar
						td Valdez
						td $300
						td 4/Agosto/2015
						td 10/Agosto/2015
						td Pagado
							div: i.icomoon.pencil
							div: i.icomoon.bin
					tr 
						td 1
						td Cesar
						td Valdez
						td $300
						td 4/Agosto/2015
						td 10/Agosto/2015
						td Pagado
							div: i.icomoon.pencil
							div: i.icomoon.bin
					tr 
						td 1
						td Cesar
						td Valdez
						td $300
						td 4/Agosto/2015
						td 10/Agosto/2015
						td Pagado
							div: i.icomoon.pencil
							div: i.icomoon.bin
					tr 
						td 1
						td Cesar
						td Valdez
						td $300
						td 4/Agosto/2015
						td 10/Agosto/2015
						td Pagado
							div: i.icomoon.pencil
							div: i.icomoon.bin
					tr 
						td 1
						td Cesar
						td Valdez
						td $300
						td 4/Agosto/2015
						td 10/Agosto/2015
						td Pagado
							div: i.icomoon.pencil
							div: i.icomoon.bin
					tr 
						td 1
						td Cesar
						td Valdez
						td $300
						td 4/Agosto/2015
						td 10/Agosto/2015
						td Pagado
							div: i.icomoon.pencil
							div: i.icomoon.bin