div(popup-close).PopupInstructoresEliminar
	div.PopupInstructoresEliminar-contenidoInstructoresEliminar
		p ¿Estas seguro de eliminar el instructor?<br>
		button.BtnCancelar.popup-close Cancelar
		button(ng-click="deleteInstructor()").BtnEliminar Eliminar