div(popup-close).PopupInstructor
	div.PopupInstructor-contenidoInstructor
		h2 {{instructor.nombre}} {{instructor.apellido}}<br>
		div: i.icomoon.cancel-circle.popup-close
		p <br>Edad: {{instructor.edad}}<br>
		p Clase: {{instructor.clase}}<br>
		p Correo {{instructor.correo}}<br>
		p Celular {{instructor.celular}}<br>
		p Peso: {{instructor.peso}}<br>
		p Estatura: {{instructor.estatura}} <br>