.PopupAgendar
	background: rgba(black, 0.60);
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	display:flex;
	justify-content:center;
	align-items:center;
	&-contenidoAgendar
		width:20em;
		border-radius:17px;
		background:white;
		padding:2em 2em 3em;
		position:relative;
		h2 
			font-size:20px;
			color:black;
			//font-family:Roboto Condensed;
			font-weight:lighter;
			border-bottom: 3px solid rgb(232,167,47);
			text-align:center;
			display:inline-block;
			margin: 0em 0em 1em 1.5em;
		div
			cursor:pointer;
			position:absolute;
			color:black;
			font-size:20px;
			top:0;
			right:0;
			margin: 1em 1em 0em 0em;
		.ClaseTxt
			margin-left:1.8em;
		.Hora
			margin-left:2em;
		p
			display: inline-block;
			padding:0em .7em 0em 0em;
		input
			display:inline-block;
			width:9em;
			color:gray;
			text-align:center;
		select
			display:inline-block;
		.Cancelar
			background:rgb(170,170,160);
			display:inline-block;
			margin-right:.5em;
		.Agendar
			background: rgb(231,150,28);
			display:inline-block;
		button
			color:black;
			font-size:15px;
			padding:.4em .8em;
			border-radius:7px;
			margin:2em 1em 0em;
			border: 1px solid rgb(110,110,100);