div(popup-close).PopupAgendar
	div.PopupAgendar-contenidoAgendar
		h2 ¡Agenda tu clase!<br>
		//select(disabled) para no poder seleccionar los datos
		p.Clase Clase:
		input(type="text" name="clase" value="Zumba" disabled)
		p Instructor:
		select(name="instructor")
			option Alondra Morales
			option Jose Angeles
		p.Hora Hora:
		select(name="hora")
			option 8:00am
			option 11:00am
		button.Cancelar.popup-close Cancelar
		button.Agendar Agendar