body.Principal
	div.Contenedor
		header.Header
			figure.Header-logo
			nav.Header-nav
				ul 
					a(ui-sref="inicio")
						li 
							span Inicio
					a(ui-sref="clases")
						li
							span Clases
					a(ui-sref="retos")
						li
							span Retos
					a(ui-sref="pagos")
						li
							span Pagos
					a(ui-sref="instructores")
						li 
							span Instructores
					a(ui-sref="perfil")
						li 
							span Perfil
					a(href="#")
						li 
							span Salir
		div.ContenedorReto
			div.Reto
				figure(style="background-image: url('./img/reto1.jpg')").Reto-imagenReto
				figcaption.Reto-reto Reto1
				figcaption.Reto-fecha 17/Octubre/2015
				button(class="reto-ver PopupAdd" popup-add="<reto-ver><reto-ver/>").Reto-ver ver
				button.Reto-participar Participar
				button.Reto-rechazar Rechazar
			div.Reto
				figure(style="background-image: url('./img/reto1.jpg')").Reto-imagenReto
				figcaption.Reto-reto Reto1
				figcaption.Reto-fecha 17/Octubre/2015
				button(class="Reto-ver PopupAdd" popup-add="<reto-ver><reto-ver/>") ver
				button.Reto-participar Participar
				button.Reto-rechazar Rechazar
			div.Reto
				figure(style="background-image: url('./img/reto1.jpg')").Reto-imagenReto
				figcaption.Reto-reto Reto1
				figcaption.Reto-fecha 17/Octubre/2015
				button(class="Reto-ver PopupAdd" popup-add="<reto-ver><reto-ver/>") ver
				button.Reto-participar Participar
				button.Reto-rechazar Rechazar
			div.Reto
				figure(style="background-image: url('./img/reto1.jpg')").Reto-imagenReto
				figcaption.Reto-reto Reto1
				figcaption.Reto-fecha 17/Octubre/2015
				button(class="Reto-ver PopupAdd" popup-add="<reto-ver><reto-ver/>") ver
				button.Reto-participar Participar
				button.Reto-rechazar Rechazar
			div.Reto
				figure(style="background-image: url('./img/reto1.jpg')").Reto-imagenReto
				figcaption.Reto-reto Reto1
				figcaption.Reto-fecha 17/Octubre/2015
				button(class="Reto-ver PopupAdd" popup-add="<reto-ver><reto-ver/>") ver
				button.Reto-participar Participar
				button.Reto-rechazar Rechazar
			div.Reto
				figure(style="background-image: url('./img/reto1.jpg')").Reto-imagenReto
				figcaption.Reto-reto Reto1
				figcaption.Reto-fecha 17/Octubre/2015
				button(class="Reto-ver PopupAdd" popup-add="<reto-ver><reto-ver/>") ver
				button.Reto-participar Participar
				button.Reto-rechazar Rechazar
			