div.ContenedorReto
	div(ng-repeat="retos in retos").Reto
		figure(style="background-image: url('{{retos.imgReto}}')").Reto-imagenReto
		figcaption.Reto-reto {{retos.reto}}
		figcaption.Reto-fecha {{retos.fechaInicio | date:'fullDate'}}
		button(class="reto-ver PopupAdd" popup-add="<reto-ver><reto-ver/>").Reto-verBtn ver
		//button.Reto-participar Participar
		//button.Reto-rechazar Rechazar