@import './popupRegistrar/popupRegistrar.styl'
//--------------------globales-------------------------	
.Header
	width:100%;
	border-bottom: 3px solid rgb(232,167,47);
	overflow: hidden
	&-logoLogin
		width:34em;
		height:9em;
		margin:0;
		display: inline-block;
		background-image: url(../img/logo.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position:relative;
		float:left;
	&-login
		padding: 2em 2em .1em;
		float:right;
		position: relative;
		& > div
			display:inline-block;
			label 
				display: block;
				color: white;
				padding-left:1em;
			input
				margin:.0 .8em;
				margin-top:.5em;
				height:2em;
		&-button
			display:block;
			direction:rtl;
			&-entrar
				display: block;
				position: absolute;
				float: right;
				margin-top:1em;
				border: 0;
				background: rgb(232,167,47);
				padding: .3em 1.4em;
				border-radius:7px;
				margin-right:.9em;
	&-linea
		width:100%;
		max-width:80em;
		height:.3em;
		margon-bottom:5em;
		background:rgb(232,167,47);
		position:relative;
.Registro
	width:27em;
	margin-top:11em;
	border: 1px solid gray;
	border-radius:15px;
	padding: 0em 0em 3em;
	float: right;
	margin-right: 2em;
	p
		color:white;
		text-align:center;
		font-size: 23px;
		font-family:Roboto Condensed;
		margin-bottom:0;
	&-nombre
		display:inline-block;
		margin: 2em 2em 0em;
		width:10em;
	&-apellido
		display:inline-block;
		width:10em;
	&-largo
		display:block;
		margin: 2em 2em 0em;
		width:22em;	
	&-registrate
		display: block;
		margin-left:10em;
		margin-top:2em;
		border: 0;
		background: rgb(232,167,47);
		padding:.5em 1em;
		border-radius:7px;
	input
		text-align: center;
		color: black;
		height:2.3em;
		border-radius:10px;
.Direccion
	width:30em;
	margin-top:10em;
	border: 1px solid gray;
	border-radius:10px;
	padding: 1em 1em 1em 1em;
	float: left;
	margin-right: 2em;
	&-titulo
		color:white;
		text-align:center;
		font-size: 23px;
		font-family:Roboto Condensed;
		margin:0; 
	&-contenido
		color:white;
		text-align:center;
		font-size: 18px;
		font-family:Roboto Condensed;
		margin: 1em 1.5em 0em;
		text-align:center;
	&-map
		width:25em;
		height:10em;
		border 1px solid red;
		padding-top:2em;
		margin:0em 1em;
//------------------------Inicio--------------------------


