@import './popupAgregar/popupAgregar.styl'
@import './popupEditar/popupEditar.styl'
@import './popupEliminar/popupEliminar.styl'
//--------------------globales-------------------------	
.Nombre
	color:white;
	font-size:23px;
	margin:1.4em 0em 0em 4em;
	display:inline-block;
.AreaSlider
	width:56em;
	height:25em;
	margin:2em 6em 0em;
	position:relative;
	.Banner
		width:100%;
		height:100%;
		background-size:100% 100%;//cover
		//background-position:center;
		background-repeat:no-repeat;
		display:inline-block;
		.Botones
			float:right;
			background-color:rgba(black, 0.60);
			overflow: hidden;
			border-bottom-left-radius:15px;
			div
				color:white;
				display:inline-block;
				font-size:16px;
				padding:.4em .8em .4em .3em;
				border-right: 1px solid gray;
				margin:.4em .4em;
				cursor:pointer;
				div
				&:last-child
					border:0;
		&-texto
			width:40em;
			max-width:45em;
			height:8em;
			margin:12em 0em 0em;
			display:inline-block;
			background-color:rgba(black, 0.60);