//include ../../header/headerAdmin.jade
label.Nombre ¡Bienvenido!
div.AreaSlider
	div(style="background-image: url('./img/banner1.jpg')").Banner
		div.Botones
			div(class="icomoon.pencil PopupAdd" popup-add="<inicio-editar><inicio-editar/>")
				i.icomoon.pencil
			div(class="icomoon.plus PopupAdd" popup-add="<inicio-agregar><inicio-agregar/>")
				i.icomoon.plus
			div(class="icomoon.bin PopupAdd" popup-add="<inicio-eliminar><inicio-eliminar/>")
				i.icomoon.bin
		p.Banner-texto 
		//figure.Imgagen
		//p.Texto