.PopupPerfilMod
	background: rgba(black, 0.60);
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	display:flex;
	justify-content:center;
	align-items:center;
	&-contenidoPerfilMod
		width:22em;
		border-radius:17px;
		background:white;
		padding:2em 2em 3em;
		.ImgModificar
			margin:0 auto;
			width:13em;
			border: 1px solid rgb(51,51,51);
			cursor:pointer;
			background-size:cover;
			background-position:center top;
			background-repeat:no-repeat;
			&-cambiarImg
				width:100%;
				background: rgba(black, 0.60);
				margin:5.3em 0em 0em 0em;
				padding:.6em 0em;
				p
					color white;
					margin:0em 0em 0em 2em;
					display:inline-block;
				div
					display:inline-block;
					margin-left:.5em;
					i
						font-size:20px;
						color:white;
		p 
			color:black;
			display: inline-block;
		.BtnCancelar
			background:rgb(170,170,160);
			display:inline-block;
			margin:2em 2em 0em 2em;
			padding:.4em 1em;
		.BtnGuardar
			background: rgb(231,150,28);
			display:inline-block;
			padding:.4em 1em;
		button
			color:black;
			font-size:15px;
			border-radius:7px;
			border: 1px solid rgb(110,110,100);
			padding:.4em 1em;