div(popup-close).PopupPerfilMod
	div.PopupPerfilMod-contenidoPerfilMod
		figure(style="background-image: url(./img/perfil.jpg)").ImgModificar
			div.ImgModificar-cambiarImg
				p cambiar imagen
				div: i.icomoon.images
		p Nombre:
		input(type="text" name="nombre")
		p Apellido:
		input(type="text" name="apellido")
		p Edad:
		input(type="text" name="edad")
		p Celular:
		input(type="text" name="celular")
		p Correo:
		input(type="text" name="correo")
		p Domicilio:
		input(type="text" name="domicilio")
		p Estatura:
		input(type="text" name="estatura")
		p Peso:
		input(type="text" name="peso")
		button.BtnCancelar.popup-close Cancelar
		button.BtnGuardar Guardar