div(popup-close).PopupPerfilMod
	form.PopupPerfilMod-contenidoPerfilMod
		figure(style="background-image:url({{retoDuplicado.imgReto}});").ImgModificar
			div.ImgModificar-cambiarImg
				label.labelModificar
					input(type="file" file-upload="retoDuplicado.imgReto").SubirImgModificar
					p cambiar imagen
					i.icomoon.images
		p Nombre:
		input(type="text" name="nombre")
		p Apellido:
		input(type="text" name="apellido")
		p Celular:
		input(type="text" name="celular")
		p Domicilio:
		input(type="text" name="domicilio")
		p Correo:
		input(type="text" name="correo")
		p Contraseña:
		input(type="text" name="contrasenia")
		p Edad:
		input(type="text" name="edad").CajaChica
		p.Estatura Estatura:
		input(type="text" name="estatura").CajaChica
		p.Peso Peso:
		input(type="text" name="peso").CajaChica
		button.BtnCancelar.popup-close Cancelar
		button.BtnGuardar Guardar



