div(popup-close).PopupEliminarAgendado
	div.PopupEliminarAgendado-contenidoEliminar
		p ¿Estas seguro de eliminar al cliente agendado?<br>
		button.BtnCan.popup-close Cancelar
		button(ng-click="eliminarAgendado()").BtnEli Eliminar 