div.Area
	input(type="text" name="buscar" ng-model="search").InputBuscar
	button:i.icomoon.search.BtnBuscar   Buscar 
	form(action="http://localhost:8080/gym.app/back/pdf/clientes.php" method="POST").FormPDF
		button(type="submit").FormPDF-btn
			i.icomoon.file-pdf    Guardar
div.ContenedorPerfiles
	div(ng-repeat="c in clientes | filter: search").Perfiles
		figure(style="background-image: url('{{c.ClientesImgCliente}}')").Perfiles-imagenPerfil
		figcaption {{c.ClientesNombre}} {{c.ClientesApellido}}
		button(class="Perfiles-ver-perfil PopupAdd" popup-add="<perfiles-ver><perfiles-ver/>").Perfiles-verPerfil Ver
		button(class="Perfiles-delete-perfil PopupAdd" popup-add="<perfiles-eliminar del-cliente='c'/>").Perfiles-deletePerfil  Eliminar
	