div(popup-close).PopupReto
	div.PopupReto-contenidoReto
		h2 Reto ligero<br>
		div: i.icomoon.cancel-circle.popup-close
		p <br>Fecha de inicio: 15/Octubre/2015<br>
		p Reto: Bajar de peso en un mes, <br> almenos 5 kilos<br>