.PopupRegistrar
	background: rgba(black, 0.60);
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	display:flex;
	justify-content:center;
	align-items:center;
	&-contenidoRegistrar
		width:22em;
		border-radius:17px;
		background:white;
		padding:2em 2em 3em;
		.ImgRegistrar
			background-size:100% 100%;
			margin:0 auto;	
			width:18em;
			padding:1.5em 0em;
			span
				color:white;
				text-align:center;
				margin:0em 0em 0em 7em;
			.label
				width: 3.7em;
				height:3em;	
				cursor:pointer;
				background: white;
				color: white;
				display: block;
				margin:.5em auto;
				.SubirImg
					position: absolute;
					opacity: 0;
					top:0;
					margin-top:6.5em;
				i
					color:black;
					font-size:27px;
					margin:.3em .4em 0em .4em;
					display:inline-block;
		p 
			color:black;
			display: inline-block;
		.Peso
			margin-left:.2em;
		.Estatura
			margin-left:.8em;
		.CajaChica
			width:5em;
		.BtnCancelar
			background:rgb(170,170,160);
			display:inline-block;
			margin:2em 2em 0em 2em;
			padding:.4em 1em;
		.BtnRegistrar
			background: rgb(231,150,28);
			display:inline-block;
			padding:.4em 1em;
		button
			color:black;
			font-size:15px;
			border-radius:7px;
			border: 1px solid rgb(110,110,100);
			padding:.4em 1em;