.PopupClasesAgregar
	background: rgba(black, 0.60);
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	display:flex;
	justify-content:center;
	align-items:center;
	&-contenidoClasesAgregar
		width:22em;
		border-radius:17px;
		background:white;
		padding:2em 2em 3em;
		.ImgAgregarClase
			margin:0 auto;	
			width:18em;
			//height:8em;
			background: rgb(51,51,51);
			padding:1.5em 0em;
			span
				color:white;
				text-align:center;
				margin:0em 0em 0em 7em;
			div
				width:3.2em;
				height:3em;
				cursor:pointer;
				color:white;
				background:white;
				margin:.5em auto;
				i
					color:black;
					font-size:27px;
					margin:.4em .4em 0em .4em;
					display:inline-block;
		p 
			color:black;
			display: inline-block;
		.CajaClase
			width:15em;
		.CajaInstructor
			width:13em;
		.CajaPrecio
			width:3.5em;
			margin-right:1em;
		.CajaDuracion
			width:3em;
			margin:0em .3em 0em .5em;
		.CajaHoras
			margin-right:1.8em;
		.Dias
			margin:0em .1em 0em .5em;
		.BtnCancelar
			background:rgb(170,170,160);
			display:inline-block;
			margin:2em 2em 0em 2em;
			padding:.4em 1em;
		.BtnCrear
			background: rgb(231,150,28);
			display:inline-block;
			padding:.4em 2em;
		button
			color:black;
			font-size:15px;
			border-radius:7px;
			border: 1px solid rgb(110,110,100);