div(popup-close).PopupPerfilesEliminar
	div.PopupPerfilesEliminar-contenidoPerfilesEliminar
		p ¿Estas seguro de eliminar el usuario?<br>
		button.BtnPerfilesCancelar.popup-close Cancelar
		button(ng-click="deleteCliente()").BtnPerfilesEliminar Eliminar