div(popup-close).PopupClasesVer
	div.PopupClasesVer-contenidoClasesVer
		h2 {{clase.clase}}<br>
		div: i.icomoon.cancel-circle.popup-close
		p <br>Horario: {{clase.dia}}<br>
		p Hora: {{clase.hora}}<br>
		p duracion : {{clase.horaDuracion}} hora {{clase.minDuracion}} min<br>