
//--------------------globales-------------------------	
.ContenedorClase
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 4.5em 3em 0em 3em;
.Costos
	width:30em;
	background:white;
	padding:1em 1.6em;
	margin:3em 0em 0em 20em;
	border-radius:15px;
	span
		font-size:15px;
.AreaTabla
	width:55em;
	margin: 4em 0em 0em 8em
	&-encabezado
		width:100%;
		background:rgb(178,178,178);
		padding:.8em 0em
		border-right: 1px solid rgb(140,139,139);
		font-size:17px;
		border-top-left-radius:25px;
		border-top-right-radius:25px;
		.Pagos
			border-bottom:1px solid black;
			margin-left:18em;
		/*.Vencidos
			padding:0em 0em 0em 5em;
			border-left: 1px solid gray;*/
	&-scroll
		width:100%;
		height:20.6em;
		overflow:auto;
		table
			width:100%;
			tr
				&.fechaVencida
					td
						background:red;
						border: 1px solid red;
						i 
							color:white;
				td
					border: 1px solid rgb(193,193,193);
					background:white;
					text-align:center;
					padding:.4em 0em;
				&:first-child
					td
						font-weight:bold;