body.Principal
	div.Contenedor
		header.Header
			figure.Header-logo
			nav.Header-nav
				ul 
					a(ui-sref="inicio")
						li 
							span Inicio
					a(ui-sref="clases")
						li
							span Clases
					a(ui-sref="retos")
						li
							span Retos
					a(ui-sref="pagos")
						li
							span Pagos
					a(ui-sref="instructores")
						li 
							span Instructores
					a(ui-sref="perfil")
						li 
							span Perfil
					a(href="#")
						li 
							span Salir
		div.Costos 
			span Inscripcion....................................................................$100<br>
			span Por mes........................................................................$300
		div.AreaTabla
			div.AreaTabla-encabezado
				span.Pagos Pagos mensuales
				span.Vencidos Mensualidad vencida
			div.AreaTabla-scroll
				table.AreaTabla-scroll-tabla
					tr
						td No.registro
						td Nombre
						td Apellido
						td Fecha de pago
						td Fecha pagado
						td Costo
						td Estado de pago
					tr 
						td 1
						td Cesar
						td Valdez
						td $300
						td 4/Agosto/2015
						td 10/Agosto/2015
						td Pagado
					tr 
						td 1
						td Cesar
						td Valdez
						td $300
						td 4/Agosto/2015
						td 10/Agosto/2015
						td Pagado
					tr 
						td 1
						td Cesar
						td Valdez
						td $300
						td 4/Agosto/2015
						td 10/Agosto/2015
						td Pagado
					tr 
						td 1
						td Cesar
						td Valdez
						td $300
						td 4/Agosto/2015
						td 10/Agosto/2015
						td Pagado
					tr 
						td 1
						td Cesar
						td Valdez
						td $300
						td 4/Agosto/2015
						td 10/Agosto/2015
						td Pagado
					tr 
						td 1
						td Cesar
						td Valdez
						td $300
						td 4/Agosto/2015
						td 10/Agosto/2015
						td Pagado
					tr 
						td 1
						td Cesar
						td Valdez
						td $300
						td 4/Agosto/2015
						td 10/Agosto/2015
						td Pagado
					tr 
						td 1
						td Cesar
						td Valdez
						td $300
						td 4/Agosto/2015
						td 10/Agosto/2015
						td Pagado
					tr 
						td 1
						td Cesar
						td Valdez
						td $300
						td 4/Agosto/2015
						td 10/Agosto/2015
						td Pagado
					tr 
						td 1
						td Cesar
						td Valdez
						td $300
						td 4/Agosto/2015
						td 10/Agosto/2015
						td Pagado
					tr 
						td 1
						td Cesar
						td Valdez
						td $300
						td 4/Agosto/2015
						td 10/Agosto/2015
						td Pagado
