div.Costos 
	span Inscripcion....................................................................$100<br>
	span Por mes........................................................................$300
div.AreaTabla
	div.AreaTabla-encabezado
		span.Pagos Pagos mensuales
		//span.Vencidos Mensualidad vencida
	div.AreaTabla-scroll
		table.AreaTabla-scroll-tabla
			tr
				td No.registro
				td Nombre 
				td Apellido
				td Fecha de pago
				td Fecha pagado
				td Costo
				td Estado de pago
			tr(ng-repeat="pago in pagos")
				td {{pago.PagosId}}
				td {{pago.ClientesNombre}}
				td {{pago.CientesApellido}}
				td {{pago.PagosMonto}}
				td {{pago.PagosFechaPagado}}
				td {{pago.PagosFechaPago}}
				td {{pago.PagosEstado}}