@import './popupAgregar/popupAgregar.styl'
@import './popupModificar/popupModificar.styl'
@import './popupEliminar/popupEliminar.styl'
@import './popupVer/popupVer.styl'
//--------------------globales-------------------------	
.ContenedorRetoAdmin
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 2em 3em 0em 3em;
.AgregarRetoAdmin
	color:white;
	font-size:15px;
	padding:.3em 1em;
	margin:2em 0em 0em 58em;
	border: 0;
	border-radius:7px;
	background: rgb(53,131,44);
.RetoAdmin
	width:17em;
	background:white;
	border-radius:15px;
	padding:.7em .7em .7em .7em;
	margin: 0em 2em 3em 0em;
	&-imagenRetoAdmin
		width:15.5em;
		height:7.5em;
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center center;
	&-reto
		font-size:21px;
		text-align:center;
		margin-top:.3em;
	&-fecha
		font-size:13px;
		text-align:center;
		margin-top:.2em;
	&-ver
		background: rgb(127,129,112);
		float:left;
		margin: 0em.5em 0em .5em;
	&-modificar
		background: rgb(53,131,44);
	&-eliminar
		background: rgb(229,52,13);
		float:right;
	button
		color:white;
		font-size:15px;
		padding:.2em .7em;
		margin-top:.5em;
		border: 0;
		border-radius:7px;