body.Principal
	div.Contenedor
		header.Header
			figure.Header-logo
			nav.Header-nav
				ul 
					a(ui-sref="inicioAdmin")
						li 
							span Inicio
					a(ui-sref="clasesAdmin")
						li
							span Clases
					a(ui-sref="retosAdmin")
						li
							span Retos
					a(ui-sref="pagosAdmin")
						li
							span Pagos
					a(ui-sref="instructoresAdmin")
						li 
							span Instructores
					a(ui-sref="perfilAdmin")
						li 
							span Perfiles
					a(href="#")
						li 
							span Salir
		button.AgregarReto Agregar reto
		div.ContenedorRetoAdmin
			div.RetoAdmin
				figure(style="background-image: url('./img/reto1.jpg')").RetoAdmin-imagenReto
				figcaption.RetoAdmin-reto Reto1
				figcaption.RetoAdmin-fecha 17/Octubre/2015
				button.RetoAdmin-ver ver
				button.RetoAdmin-modificar Modificar
				button.RetoAdmin-eliminar Eliminar
			div.RetoAdmin
				figure(style="background-image: url('./img/reto1.jpg')").RetoAdmin-imagenReto
				figcaption.RetoAdmin-reto Reto1
				figcaption.RetoAdmin-fecha 17/Octubre/2015
				button.RetoAdmin-ver ver
				button.RetoAdmin-modificar Modificar
				button.RetoAdmin-eliminar Eliminar
			div.RetoAdmin
				figure(style="background-image: url('./img/reto1.jpg')").RetoAdmin-imagenReto
				figcaption.RetoAdmin-reto Reto1
				figcaption.RetoAdmin-fecha 17/Octubre/2015
				button.RetoAdmin-ver ver
				button.RetoAdmin-modificar Modificar
				button.RetoAdmin-eliminar Eliminar
			div.RetoAdmin
				figure(style="background-image: url('./img/reto1.jpg')").RetoAdmin-imagenReto
				figcaption.RetoAdmin-reto Reto1
				figcaption.RetoAdmin-fecha 17/Octubre/2015
				button.RetoAdmin-ver ver
				button.RetoAdmin-modificar Modificar
				button.RetoAdmin-eliminar Eliminar
			div.RetoAdmin
				figure(style="background-image: url('./img/reto1.jpg')").RetoAdmin-imagenReto
				figcaption.RetoAdmin-reto Reto1
				figcaption.RetoAdmin-fecha 17/Octubre/2015
				button.RetoAdmin-ver ver
				button.RetoAdmin-modificar Modificar
				button.RetoAdmin-eliminar Eliminar
			div.RetoAdmin
				figure(style="background-image: url('./img/reto1.jpg')").RetoAdmin-imagenReto
				figcaption.RetoAdmin-reto Reto1
				figcaption.RetoAdmin-fecha 17/Octubre/2015
				button.RetoAdmin-ver ver
				button.RetoAdmin-modificar Modificar
				button.RetoAdmin-eliminar Eliminar