@import './popupDetalle/popupDetalle.styl'
@import './popupAgendar/popupAgendar.styl'
//--------------------globales-------------------------	
.ContenedorClase
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 4.5em 3em 0em 3em;
.Clase
	width:17em;
	background:white;
	border-radius:15px;
	padding:.7em .7em .7em .7em;
	margin: 0em 2em 3em 0em;
	&-imagenClase
		width:15.5em;
		height:7.5em;
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center center;
	figcaption
		font-size:1.3em;
		text-align:center;
		margin-top:.3em;
	&-detalle
		background: rgb(231,150,28);
		margin:.5em 0em 0em 1em;
		display:inline-block;
		float:left;
	&-agendar
		background: rgb(53,131,44);
		margin:.5em 1.5em 0em 0em;
		float:right;
	button
		color:white;
		font-size:15px;
		padding:.2em .9em;
		border: 0;
		border-radius:7px;
