div.ContenedorClase
	div(ng-repeat="c in clases").Clase
		figure(style="background-image: url('{{c.imgClase}}')").Clase-imagenClase
		figcaption.Clase-reto {{c.clase}}
		button(class="Clase-detalle PopupAdd" popup-add="<clase-detalle><clase-detalle/>") Detalles 
		button(class="Clase-agendar PopupAdd" popup-add="<clase-agendar agendar-clase='c'/>") Agendar
	