body.Principal
	div.Contenedor
		header.Header
			figure.Header-logo
			nav.Header-nav
				ul 
					a(ui-sref="inicio")
						li 
							span Inicio
					a(ui-sref="clases")
						li
							span Clases
					a(ui-sref="retos")
						li
							span Retos
					a(ui-sref="pagos")
						li
							span Pagos
					a(ui-sref="instructores")
						li 
							span Instructores
					a(ui-sref="perfil")
						li 
							span Perfil
					a(href="#")
						li 
							span Salir
		div.ContenedorClase
			div.Clase
				figure(style="background-image: url('./img/zumba.jpg')").Clase-imagenClase
				figcaption.Clase-reto Zumba
				button(class="Clase-detalle PopupAdd" popup-add="<clase-detalle><clase-detalle/>") Detalles 
				button(class="Clase-agendar PopupAdd" popup-add="<clase-agendar><clase-agendar/>") Agendar
			div.Clase
				figure(style="background-image: url('./img/zumba.jpg')").Clase-imagenClase
				figcaption.Clase-reto Zumba
				button(class="Clase-detalle PopupAdd" popup-add="<clase-detalle><clase-detalle/>") Detalles 
				button(class="Clase-agendar PopupAdd" popup-add="<clase-agendar><clase-agendar/>") Agendar
			div.Clase
				figure(style="background-image: url('./img/zumba.jpg')").Clase-imagenClase
				figcaption.Clase-reto Zumba
				button(class="Clase-detalle PopupAdd" popup-add="<clase-detalle><clase-detalle/>") Detalles 
				button(class="Clase-agendar PopupAdd" popup-add="<clase-agendar><clase-agendar/>") Agendar
			div.Clase
				figure(style="background-image: url('./img/zumba.jpg')").Clase-imagenClase
				figcaption.Clase-reto Zumba
				button(class="Clase-detalle PopupAdd" popup-add="<clase-detalle><clase-detalle/>") Detalles 
				button(class="Clase-agendar PopupAdd" popup-add="<clase-agendar><clase-agendar/>") Agendar
			div.Clase
				figure(style="background-image: url('./img/zumba.jpg')").Clase-imagenClase
				figcaption.Clase-reto Zumba
				button(class="Clase-detalle PopupAdd" popup-add="<clase-detalle><clase-detalle/>") Detalles 
				button(class="Clase-agendar PopupAdd" popup-add="<clase-agendar><clase-agendar/>") Agendar
			div.Clase
				figure(style="background-image: url('./img/zumba.jpg')").Clase-imagenClase
				figcaption.Clase-reto Zumba
				button(class="Clase-detalle PopupAdd" popup-add="<clase-detalle><clase-detalle/>") Detalles 
				button(class="Clase-agendar PopupAdd" popup-add="<clase-agendar><clase-agendar/>") Agendar
			