div.ContenedorClase
	div(ng-repeat="clases in clases").Clase
		figure(style="background-image: url('{{clases.imgClase}}')").Clase-imagenClase
		figcaption.Clase-reto {{clases.clase}}
		button(class="Clase-detalle PopupAdd" popup-add="<clase-detalle><clase-detalle/>") Detalles 
		button(class="Clase-agendar PopupAdd" popup-add="<clase-agendar><clase-agendar/>") Agendar
	