div(popup-close).PopupPerfilesVer
	div.PopupPerfilesVer-contenidoPerfilesVer
		h2 {{c.ClientesNombre}} {{c.ClientesApellido}}<br>
		div: i.icomoon.cancel-circle.popup-close
		p <br>Celular: {{c.ClientesCelular}}<br>
		p Peso: {{c.ClientesPeso}}<br>
		p Estatura : {{c.ClientesEstatura}}<br>
		p Edad : {{c.ClientesEdad}}<br>
		p Domicilio : {{c.ClientesDomicilio}}<br>
		p Correo : {{c.ClientesCorreo}}<br>
