div(popup-close).PopupRetosAgregar
	form.PopupRetosAgregar-contenidoRetosAgregar
		figure(style="background-image:url({{reto.imgReto}});").ImgAgregar
			span Subir foto
			label.label
				input(type="file" file-upload="reto.imgReto").SubirImg
				i.icomoon.camera
		p Reto:
		input(type="text" name="clase" ng-model="reto.reto" required).CajaReto
		p fecha:
		input(type="date" name="fecha" ng-model="reto.fechaInicio")
		p.Descripcion Descripción:
		textArea(name="textarea" rows="1" cols="1" maxlength="200" placeholder="Escribir los detalles del reto" ng-model="reto.descripcion").TextArea
		button.BtnCancelar.popup-close Cancelar
		button.BtnCrear(ng-click="addRetos()") Crear