.PopupInicioEditar
	background: rgba(black, 0.60);
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	display:flex;
	justify-content:center;
	align-items:center;
	&-contenidoInicioEditar
		width:24em;
		border-radius:17px;
		background:white;
		padding:2em 2em 3em;
		h2 
			font-size:20px;
			color:black;
			//font-family:Roboto Condensed;
			font-weight:lighter;
			border-bottom: 3px solid rgb(232,167,47);
			text-align:center;
			display:inline-block;
			margin: 0em 0em .6em 1.1em;
		.ImgAgregarBanner
			width:18em;
			height:8.2	em;
			border: 1px solid rgb(51,51,51);
			margin-left:1em;
			cursor:pointer;
			background-size:cover;
			background-position:center top;
			background-repeat:no-repeat;
			&-cambiarImg
				width:100%;
				background: rgba(black, 0.60);
				margin:5.3em 0em 0em 0em;
				padding:.6em 0em;
				p
					color white;
					margin:0em 0em 0em 2em;
					display:inline-block;
				div
					display:inline-block;
					margin-left:.5em;
					i
						font-size:20px;
						color:white;
		.Anuncio
			width:20em;
			height:7em;
			background:white;
			border: 1px solid gray;
			border-radius:10px;
			margin:1em 0em 0em 0em;
			resize:none;
			display:block;
		.BtnCancelar
			background:rgb(170,170,160);
			display:inline-block;
			margin-right:.5em;
			margin:2em 2em 0em 2em;
		.BtnGuardar
			background: rgb(231,150,28);
			display:inline-block;
		button
			color:black;
			font-size:15px;
			border-radius:7px;
			border: 1px solid rgb(110,110,100);
			padding:.4em 1em;