.PopupInicioEditar
	background: rgba(black, 0.60);
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	display:flex;
	justify-content:center;
	align-items:center;
	&-contenidoInicioEditar
		width:24em;
		border-radius:17px;
		background:white;
		padding:2em 2em 3em;
		.ImgModificar
			width:18em;
			height:8.2em;
			margin-left:1em;
			border: 1px solid rgb(51,51,51);
			background-size:100% 100%;
			background-position:center top;
			background-repeat:no-repeat;
			&-cambiarImg
				cursor:pointer;
				width:100%;
				background: rgba(black, 0.60);
				margin:5.3em 0em 0em 0em;
				padding:.6em 0em;
				.labelModificar
					cursor:pointer;
					color: white;
					.SubirImgModificar
						position: absolute;
						opacity: 0;
						cursor:pointer;
					p
						color white;
						margin:0em 0em 0em 2em;
						display:inline-block;
					i
						font-size:20px;
						color:white;
						display:inline-block;
						margin-left:.5em;
		.Anuncio
			width:20em;
			height:7em;
			background:white;
			border: 1px solid gray;
			border-radius:10px;
			margin:1em 0em 0em 0em;
			resize:none;
		.BtnCancelar
			background:rgb(170,170,160);
			display:inline-block;
			margin-right:.5em;
			margin:2em 2em 0em 2em;
		.BtnGuardar
			background: rgb(231,150,28);
			display:inline-block;
		button
			color:black;
			font-size:15px;
			border-radius:7px;
			border: 1px solid rgb(110,110,100);
			padding:.4em 1em;